
<form class="resource_form" [formGroup]="resource_form" (ngSubmit)="OnSubmit()">
    <br>
    <div *ngIf="edit == true">Редактирование ресурса</div><br>
    <div *ngIf="edit == false">Добавление ресурса</div><br>
    <label class="input-label">
        <input type="text" class="input" placeholder="ФИО" formControlName="name">
    </label><br>

    <div class="form-row">
        <p class="form-row__title">Пол: </p>
        <label class="edit-menu__label">
            <label class="box-label box-label_radio">
                <input type="radio" name="sex" formControlName="sex" value="1" class="box-label__input box-label__input_radio">
            </label> 
            <span class="lable-name">Муж</span>
        </label>

        <label class="edit-menu__label">
            <label class="box-label box-label_radio">
                <input type="radio" name="sex" formControlName="sex" value="0" class="box-label__input box-label__input_radio">
            </label> 
            <span class="lable-name">Жен</span>
        </label>
    </div>

    <div class="form-row">
        <p class="form-row__title">Тип: </p>
        <app-dropdown [list]="typesdown" [name]="typesdown.name" [obj]="this" [callback]="ListChanged"></app-dropdown>
    </div>
    


    <hr class="hr edit-body__hr">
    <div class="form__title">Дата рождения</div>
    <label class="header-date-label__element date-label  edit-body__date-label">
        <input type="date" class="date-input  edit-body__date" name="date" formControlName="birthdate"
         placeholder="Период">
    </label>
    
    <button class="button" type="submit" >Сохранить</button>
    <p>{{msg}}</p>
    
</form>

