
<form class="resource_form">
    <br>
    <div *ngIf="edit == true">Редактирование ресурса</div><br>
    <div *ngIf="edit == false">Добавление ресурса</div><br>
    <label class="input-label">
        <input type="text" class="input" placeholder="ФИО" #fioInput id="fio">
    </label><br>

    <div class="form-row">
        <p class="form-row__title">Пол: </p>
        <label class="edit-menu__label">
            <label class="box-label box-label_radio">
                <input type="radio" name="sex" class="box-label__input box-label__input_radio">
            </label> 
            <span class="lable-name">Муж</span>
        </label>

        <label class="edit-menu__label">
            <label class="box-label box-label_radio">
                <input type="radio" name="sex" class="box-label__input box-label__input_radio">
            </label> 
            <span class="lable-name">Жен</span>
        </label>
    </div>

    <div class="form-row">
        <p class="form-row__title">Тип: </p>
        <label for="select_rt" class="select select-label_graph">
            <input type="radio" name="list_rt" value="not_changed" id="bg_rt" class="select-bg select-radio select-list" checked />
            <input type="radio" name="list_rt" value="not_changed" class="select-select select-radio select-list" id="select_rt">
            <label class="bg" for="bg_rt"></label>
            <div class="items">
                <ng-template *ngFor="let r of ResourceTypes; let i = index">
                    <input type="radio" name="list_rt" value="{{r.id}}" id="list_rt[{{i}}]" class="select-radio select-list">
                    <label for="list_rt[{{i}}]">{{r.name}}</label>
                </ng-template>
                <span id="text" class="select-text"></span>
            </div>
        </label>
    </div>
    


    <hr class="hr edit-body__hr">
    <div class="form__title">Дата рождения</div>
    <label class="header-date-label__element date-label  edit-body__date-label">
        <input type="date" class="date-input  edit-body__date" name="date" placeholder="Период">
    </label>
    
    <button class="button" (click)="handleSave(fioInput.value, '')">Сохранить</button>
    <p>{{msg}}</p>
    
</form>

