<div class="container">

	<section class="section__left">
		<label class="header-search-label__element search-label left-input">
			<input type="search" placeholder="Поиск" class="search-input" name="search" id="search_input">
			<button type="submit" class="search-button" id="search_submit"><img class="button__image"
					src="assets/images/Search.svg"></button>
		</label>

		<label for="select_01" class="select header-select-label left-input">
			<input type="radio" name="list" value="not_changed" id="bg_01" class="select-bg select-radio select-list" checked />
			<input type="radio" name="list" value="not_changed" class="select-select select-radio select-list" id="select_01">
			<label class="bg" for="bg_01"></label>
			<div class="items">
				<input type="radio" name="list" value="first_value" id="list[0]" class="select-radio select-list">
				<label for="list[0]">Трудовой</label>
				<input type="radio" name="list" value="second_value" id="list[1]" class="select-radio select-list">
				<label for="list[1]">Не трудовой</label>
				<span id="text" class="select-text">Фильтр</span>
			</div>
		</label>

		<label class="left-input left-input_checkbox">
			<label class="box-label box-label_checkbox">
				<input type="checkbox" class="box-label__input box-label__input_checkbox">
			</label>
			Убрать завершенные акции
		</label>

		<button class="button"><img src="assets/images/Plus.svg" class="button__image  button__image_left">
			Забронировать услугу</button>

		<app-calendar [calendar]="calendar" [callback]="SelectDate" [obj]="this"></app-calendar>

		<div class="left-title">Загрузка расписания</div>
		<label class="left-row">
			<div class="left-row__title">Ресурсы:</div>
			
			<label for="select_02" class="select header-select-label left-row__select">
				<input type="radio" name="list_02" value="not_changed" id="bg_02" class="select-bg select-radio select-list" checked />
				<input type="radio" name="list_02" value="not_changed" class="select-select select-radio select-list" id="select_02">
				<label class="bg" for="bg_02"></label>
				<div class="items">
					<input type="radio" name="list_02" value="first_value" id="list_02[0]" class="select-radio select-list">
					<label for="list_02[0]">Все</label>
					<input type="radio" name="list_02" value="second_value" id="list_02[1]" class="select-radio select-list">
					<label for="list_02[1]">Все</label>
					<span id="text_02" class="select-text">Все</span>
				</div>
			</label>
		</label>
		<label class="left-row left-row_bottom">
			<div class="left-row__title">Загрузка:</div> <div class="left-row__load">40%</div>
		</label>

        <div class="legend">
            <div class="left-title">Легенда</div>
            <div class="legend-item legend_promo">Промоакции</div>
            <div class="legend-item legend_service">Услуги</div>
            <div class="legend-item legend_reserve">Зарезервированное время</div>
            <div class="legend-item legend_fail">Акция не сработала</div>
            <div class="legend-item legend_add"><span class="task-add">+</span> Добавить услугу/акцию</div>
            <div class="legend-item legend_waste">- Неиспользованное время</div>
            <div class="legend-item legend_promo-end">Акция завершена</div>
            <div class="legend-item legend_service-end">Услуга завершена</div>
            <div class="legend-item legend_empty">Незарезервированное время</div>
            <div class="legend-item legend_reserve-end">Зарезервированное время</div>
        </div>
	</section>

    <app-time-table [timedata]="timedata" [width]="1490" style="margin-top:40px;"></app-time-table>
	

</div>