<app-loading *ngIf="!loaded"></app-loading>
<app-schedule-menu 
    [current_schedule]="current_schedule"
    [current_datetime]="current_datetime"
    [cur_dt]="cur_dt"
    [additional_data]="additional_data"
    [open_callback]="OpenMenu"
    [close_callback]="CloseMenu"
    [save_callback]="SaveTask"
    [edit_callback]="EditMenu"
    [delete_callback]="DeleteMenu"
    *ngIf="additional_data != null || current_schedule != null"
    >
</app-schedule-menu>
<div class="container" *ngIf="loaded">

	<section class="section__left">
		<label class="header-search-label__element search-label left-input">
			<input type="search" placeholder="Поиск" class="search-input" name="search" id="search_input">
			<button type="submit" class="search-button" id="search_submit"><img class="button__image"
					src="assets/images/Search.svg"></button>
		</label>

		<app-dropdown [obj]="this" [name]="typeDropdown.name" [list]="typeDropdown" [callback]="SelectType"></app-dropdown>

		<label class="left-input left-input_checkbox">
			<label class="box-label box-label_checkbox">
				<input type="checkbox" class="box-label__input box-label__input_checkbox">
			</label>
			Убрать завершенные акции
		</label>

		<button class="button" (click)="AddTask(this, '')"><img src="assets/images/Plus.svg" class="button__image  button__image_left">
			Забронировать услугу</button>

		<app-calendar [calendar]="calendar" [callback]="SelectDate" [obj]="this"></app-calendar>

		<div class="left-title">Загрузка расписания</div>
		<label class="left-row">
			<div class="left-row__title">Ресурсы:</div>
			
			<app-dropdown [obj]="this" [name]="resourcesDropdown.name" [list]="resourcesDropdown" [callback]="SelectResource"></app-dropdown>
		</label>
		<label class="left-row left-row_bottom">
			<div class="left-row__title">Загрузка:</div> <div class="left-row__load">{{utilString}}%</div>
		</label>

        <div class="legend">
            <div class="left-title">Легенда</div>
            <div class="legend-item legend_promo">Промоакции</div>
            <div class="legend-item legend_service">Акция идет</div>
            <div class="legend-item legend_reserve">Зарезервировано по акции</div>
            <div class="legend-item legend_fail">Акция не сработала</div>
        </div>
	</section>

    <app-time-table 
        [timedata]="timedata" 
        [width]="1490" 
        [add_callback]="AddTask" 
        [open_callback]="OpenMenu" 
        [close_callback]="CloseMenu" 
        style="margin-top:40px;"></app-time-table>
	

</div>