.container
{
	display: flex;
	flex-direction: row;
}

.section__left
{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	padding: 40px;
}

.button_left
{
	padding: 12px 15px;
	text-align: left;
}

.button__image_left
{
	margin-right: 15px;
}

/**/

.calendar
{
	display: block;
	margin: 30px 0 17px 0;
}

.calendar__title
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-bottom: 14px;
}

.calendar__week
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}

.calendar__week_head .calendar__day
{
	font-size: 12px;
	line-height: 14px;
	color: rgba(4, 38, 53, 0.6);
}

.calendar__day
{
	width: 30px;
	height: 30px;
	text-align: center;
	color: #042635;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar__day_weekend
{
	color: #3D71BF;
}

.calendar__day_current
{
	background: #3D71BF;
	color: #fff;
}

/**/

/**/

.left-title
{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #042635;
	text-align: center;
	padding: 15px;
}

.left-input
{
	width: 100%;
	margin-bottom: 10px;
}

.left-input_checkbox
{
	margin-bottom: 20px;
}

.left-row
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #042635;
}

.left-row_bottom
{
	justify-content: start;
}

.left-row__load
{
	margin-left: 20px;
	color: #0C62E3;
}

.left-row__select
{
	width: 127px;
}

.left-row__select .items
{
	width: 127px;
}

.legend-item
{
	padding: 12.5px;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin-bottom: 2px;
}

.legend_promo { background: #4D7FCA; color: #fff; }
.legend_service { background: #FADF80; color: #68420A; }
.legend_reserve { background: #4EAB51; color: #fff; }
.legend_fail { background: #F5A2A2; color: #530808; }
.legend_add { background: #fff; color: #232526; font-weight: 300; }
.legend_waste { background: #fff; color: #232526; font-weight: 300; }
.legend_promo-end { background: #E6ECF6; color: rgba(61, 113, 191, 0.5); }
.legend_service-end { background: #FFFCF3; color: rgba(104, 66, 10, 0.5); }
.legend_empty { background: #FDEDED; color: rgba(174, 30, 21, 0.5); }
.legend_reserve-end { background: #DAEEEA; color: rgba(37, 98, 9, 0.5); }

/**/

.section__right
{
	margin: 40px 40px 40px 0;
	padding: 40px;
	width: 1455px;
	background: #FFFFFF;
	border: 2px solid #F1F6FD;
	box-sizing: border-box;
	/* main sahd2 */

	box-shadow: 0px 2px 4px rgba(4, 41, 57, 0.25);
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: stretch;
}

/**/

.time-table
{
	margin-top: 55px;
}

.schedule-table
{
	
	overflow-y: auto;
}

.schedule-table::-webkit-scrollbar 
{
	width: 6px;
	height: 6px;
}

/* Track */
.schedule-table::-webkit-scrollbar-track 
{
	background: linear-gradient(180deg, rgba(0, 64, 160, 0.1) 0%, rgba(26, 82, 165, 0.1) 77.78%);
	opacity: 0.1;
	border-radius: 28px;
	width: 6px;
	max-height: 6px;
}

/* Handle */
.schedule-table::-webkit-scrollbar-thumb
{
	background: #093751;
	border-radius: 28px;
	width: 6px;
	height: 6px;
	
}


.table-row
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.table-row_head
{
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

.table-row:last-child
{
	margin-bottom: 50px;
}

.table-col, .table-col__container
{
	min-width: 320px;
	max-width: 320px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.table-col
{
	border-right: 1px solid rgba(131, 146, 169, 0.3);
	border-bottom: 1px solid rgba(131, 146, 169, 0.3);
}

.table-row:last-child .table-col
{
	border-bottom: 1px solid transparent;
}

.table-row_head .table-col
{
	justify-content: center;
	border-bottom: 1px solid transparent;
	height: 30px;
	margin-bottom: 20px;
	color: #093751;
}

.table-col:last-child
{
	border-right: 1px solid transparent;
}

.table-col_time
{
	box-sizing: border-box;
	padding-left: 10px;
	min-width: 80px;
	width: 80px;
	margin-right: 60px;
	text-align: left;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;

	color: #000;
}

.table-task
{
	height: 100%;
	margin-right: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	box-sizing: border-box;
}

.task_small .task-time, .task_small .task-name
{ 
	max-width: 60px !important; 
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}

.table-task:last-child
{
	margin-right: 0;
}

.task-name
{
	width: 100%;
}

.task-time
{
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}

.task-add
{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	text-align: center;
	padding: 1px 2px;
	background: rgba(196, 196, 196, 0.2);
	color: #0C62E3;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	border-radius: 50%;

}

._past-hour .table-col_time
{
	color: #aaa;
}

._past-hour .legend_promo { background: #E6ECF6; color: rgba(61, 113, 191, 0.5); }
._past-hour .legend_service { background: #FFFCF3; color: rgba(104, 66, 10, 0.5); }
._past-hour .legend_fail { background: #FDEDED; color: rgba(174, 30, 21, 0.5); }
._past-hour .legend_reserve { background: #DAEEEA; color: rgba(37, 98, 9, 0.5); }

._current-hour .table-col_time
{
	font-weight: bold;
	/* main sahd2 */
}

._current-hour .table-col_time .time-content
{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: -15px;
	padding-left: 10px;
	width: 111px;
	height: 65px;
	background-image: url(../../assets/images/Time_Arrow.svg);
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;

}

._current-hour .table-col_time .time-content div
{
	width: 25px;
	text-align: left;
	margin-left: -50px;
}

/**/