<div class="resources-sections">
	<section class="main-section main-section_left">
		<div class="container container__left">
			<section class="left-section left-section__header">

				<section class="header__top header__top_left">

					<section class="header-section header-section__left">
						Список клиентов
					</section>
			
					<section class="header-section header-section__right">
						<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
						<button class="button"><img src="assets/images/Import.png" class="button__image"> Импортировать</button>
					</section>
					
				</section>
			
				<section class="header__bottom header__bottom_left">
					<form>
						<label class="search-label">
							<input type="search" class="search-input" placeholder="Поиск" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</form>
					<label class="select-label">
						<select name="filter" id="filter" class="select-elem">
							<option value="1">Фильтр</option>
							<option value="2">Трудовой</option>
							<option value="3">Не трудовой</option>
						</select>
					</label>
				</section>
			</section>

			<section class="left-section left-section__list">
				<div class="list-row list-row_head">
					<div class="list__num">#</div>
					<div class="list__name">ФИО</div>
					<div class="list__type"><img src="assets/images/Sort_inactive.png" class="sort-image"> Акции</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> RFM</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> LTV</div>
				</div>
				<div class="list-row" *ngFor="let c of clients; let i = index">
					<div class="list__num">{{i + 1}}</div>
					<div class="list__name">{{c.fio}}</div>
					<div class="list__type"><label class="box-label box-label_checkbox"><input type="checkbox" class="box-label__input box-label__input_checkbox"></label></div>
					<div class="list__util">{{c.rfm}}</div>
					<div class="list__util">{{c.ltvString}}</div>
				</div>
			</section>
			<section class="left-section left-section__pages">
				<a href="#" class="page-link page-link_inactive"><img src="assets/images/Left_b.svg" class="button__image"> Пред</a>
				<a href="#" class="page-link">1</a>
				<a href="#" class="page-link page-link_inactive">...</a>
				<a href="#" class="page-link">4</a>
				<a href="#" class="page-link page-link_active">5</a>
				<a href="#" class="page-link">6</a>
				<a href="#" class="page-link page-link_inactive">...</a>
				<a href="#" class="page-link">11</a>
				<a href="#" class="page-link">След <img src="assets/images/Right_b.svg" class="button__image"></a>
			</section>
		</div>
	</section>
	<section class="main-section main-section_right">
		<div class="container container_log">
			<section class="right-section right-section__header">
				<section class="header__top header__top_right">
					<div class="header-name">{{currentClient.fio}}</div>
					<div class="tabs">
						<button *ngFor="let t of tabs; let i = index" class="{{t.classes}}" id="tab_{{t.id}}" (click)="SwitchTab(i)">{{t.name}}</button>
					</div>
				</section>
			</section>

			<!--Contacts-->
			<section class="right-section right-section__transactions" *ngIf="currentTab == 0">
				<div class="banner">					
					<div class="banner-item">
						<div class="banner-item__header">RFM: </div>
						<div class="banner-item__body">{{currentClient.rfm}}</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">LTV: </div>
						<div class="banner-item__body">{{currentClient.ltvString}}</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Участник акции </div>
						<div class="banner-item__body">
							<label class="box-label box-label_checkbox">
								<input type="checkbox" class="box-label__input box-label__input_checkbox">
							</label> Да
						</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Контактная политика: </div>
						<div class="banner-item__body">max 2 раза в месяц<br>если скидка больше 30%</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Цикл CX: </div>
						<div class="banner-item__body">готов к коммуникации<br> ⟶ продажа</div>
					</div>
				</div>

				<section class="left-section left-section__list contacts-list">
					<div class="list__title">Контакты</div>
					<div class="list-row list-row_head contacts-list__head">
						<div class="list__num">#</div>
						<div class="list__name">Канал</div>
						<div class="list__type"><img src="assets/images/Sort_inactive.png" class="sort-image"> Номер \ Ник</div>
						<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Последняя коммуникация</div>
						<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Действие</div>
					</div>
					<div class="list-row" *ngFor="let c of currentClient.contacts; let i = index">
						<div class="list__num">{{i + 1}}</div>
						<div class="list__name">{{c.typeString}}</div>
						<div class="list__type">{{c.value}}</div>
						<div class="list__util">{{c.lastdate}}</div>
						<div class="list__util">
							<div *ngIf="c.type == 0; then callBlock else mailBlock"></div>
						<ng-template #callBlock>
							<img src="assets/images/Phone.svg" class="status-column__image">
							<img src="assets/images/Dots.svg" class="status-column__dots">
						</ng-template>
						<ng-template #mailBlock>
							<img src="assets/images/Mail_blue.svg" class="status-column__image">
							<img src="assets/images/Dots.svg" class="status-column__dots">
						</ng-template> 
						</div>
					</div>
				</section>

				<section class="left-section left-section__list transactions-list">
					<div class="list__title">Транзакции</div>
					<div class="list-row list-row_head transactions-list__head">
						<div class="list__num">#</div>
						<div class="list__name">Услуга</div>
						<div class="list__type"><img src="assets/images/Sort_inactive.png" class="sort-image"> Мастер</div>
						<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Стоимость</div>
						<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Дата</div>
					</div>
					<div class="transactions-list__body">
						<div class="list-row" *ngFor="let t of currentClient.transactions; let i = index">
							<div class="list__num">{{i + 1}}</div>
							<div class="list__name">{{t.service}}</div>
							<div class="list__type">{{t.master}}</div>
							<div class="list__util">{{t.sum}}</div>
							<div class="list__util">{{t.date}}</div>
						</div>
					</div>
				</section>
				
			</section>

			<!--Reserve-->
			<section class="right-section right-section__list" *ngIf="currentTab == 1">
				Reserve
			</section>

			<!--Log-->
			<section class="right-section right-section__list" *ngIf="currentTab == 2">
				<div class="list-row list-row_head">
					<div class="list__num">#</div>
					<div class="list__name">Обращение</div>
					<div class="list__service"><img src="assets/images/Sort_inactive.png" class="sort-image"> Услуга</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Мастер</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Дата</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Статус</div>
				</div>
				<div class="list-row" *ngFor="let l of currentClient.log; let i = index">
					<div class="list__num">{{i + 1}}</div>
					<div class="list__name">{{l.query}}</div>
					<div class="list__service">{{l.service}}</div>
					<div class="list__util">{{l.master}}</div>
					<div class="list__util">{{l.date}}</div>
					<div class="list__util">
						<div *ngIf="l.status; then closedBlock else openBlock"></div>
						<ng-template #closedBlock><span class="status-column status-column_closed"><img src="assets/images/Closed.svg" class="status-column__image"> {{l.statusString}}</span></ng-template>
						<ng-template #openBlock><span class="status-column status-column_open"><img src="assets/images/Open.svg" class="status-column__image"> {{l.statusString}}</span></ng-template> 
					</div>
				</div>
			</section>
		</div>
	</section>
</div>