<div class="resources-sections">
	<section class="main-section main-section_left">
		<div class="container container__left">
			<section class="left-section left-section__header">

				<section class="header__top header__top_left">

					<section class="header-section header-section__left">
						Список клиентов
					</section>
			
					<section class="header-section header-section__right">
						<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
						<button class="button"><img src="assets/images/Import.png" class="button__image"> Импортировать</button>
					</section>
					
				</section>
			
				<section class="header__bottom header__bottom_left">
					<form>
						<label class="search-label">
							<input type="search" class="search-input" placeholder="Поиск" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</form>
					<label class="select-label">
						<select name="filter" id="filter" class="select-elem">
							<option value="1">Фильтр</option>
							<option value="2">Трудовой</option>
							<option value="3">Не трудовой</option>
						</select>
					</label>
				</section>
			</section>

			<section class="left-section left-section__list">
				<div class="list-row list-row_head">
					<div class="list__num">#</div>
					<div class="list__name">ФИО</div>
					<div class="list__type"><img src="assets/images/Sort_inactive.png" class="sort-image"> Акции</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> RFM</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> LTV</div>
				</div>
				<div class="list-row" *ngFor="let c of clients; let i = index">
					<div class="list__num">{{i + 1}}</div>
					<div class="list__name">{{c.fio}}</div>
					<div class="list__type"><laber class="checkbox"><input type="checkbox" class="checkbox__checkbox" checked="{{c.sale}}"></laber></div>
					<div class="list__util">{{c.rfm}}</div>
					<div class="list__util">{{c.ltv}}</div>
				</div>
			</section>
			<section class="left-section left-section__pages">
				<a href="#" class="page-link page-link_inactive"><img src="assets/images/Left_b.svg" class="button__image"> Пред</a>
				<a href="#" class="page-link">1</a>
				<a href="#" class="page-link page-link_inactive">...</a>
				<a href="#" class="page-link">4</a>
				<a href="#" class="page-link page-link_active">5</a>
				<a href="#" class="page-link">6</a>
				<a href="#" class="page-link page-link_inactive">...</a>
				<a href="#" class="page-link">11</a>
				<a href="#" class="page-link">След <img src="assets/images/Right_b.svg" class="button__image"></a>
			</section>
		</div>
	</section>
	<section class="main-section main-section_right">
		<div class="container">
			<section class="right-section right-section__header">
				<section class="header__top header__top_right">
					<div class="header-name">{{currentClient}}</div>
					<div class="tabs">
						<button class="tab tab_active" id="tab_load">Контакты и транзакции</button>
						<button class="tab" id="tab_services">Бронирование</button>
						<button class="tab" id="tab_log">История обращений</button>
					</div>
				</section>
				<section class="header__bottom header__bottom_right">
					
				</section>
			</section>
			<section class="right-section right-section__graph">
				<div class="graph-row graph-row_head">
					<div class="graph-column"><button class="arrow-button arrow-button_left"></button></div>
					<div class="graph-column graph-column_head" *ngFor="let d of dates">
						<div class="graph-column__date">{{d.date}}</div>
						<div class="graph-column__util _{{d.color}}">{{d.util}}%</div>
					</div>
					<div class="graph-column"><button class="arrow-button arrow-button_right"></button></div>
				</div>
				
				<div>
			
				</div>
				<div class="graph-row" *ngFor="let hour of hours">
					<div class="graph-column">{{hour}}:00</div>
					<div class="graph-column"></div>
					<div class="graph-column"></div>
					<div class="graph-column"></div>
					<div class="graph-column"></div>
					<div class="graph-column"></div>
					<div class="graph-column"></div>
					<div class="graph-column"></div>
					<div class="graph-column"></div>
				</div>
			</section>
		</div>
	</section>
</div>