<div class="resources-sections">
	<section class="main-section main-section_left">
		<div class="container container__left">
			<section class="left-section left-section__header">

				<section class="header__top header__top_left">

					<section class="header-section header-section__left">
						Список клиентов
					</section>
					
				</section>
			
				<section class="header__bottom header__bottom_left">
					<form>
						<label class="search-label">
							<input type="search" class="search-input" placeholder="Поиск" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</form>
					<label for="select_01" class="select">
						<input type="radio" name="list" value="not_changed" id="bg_01" class="select-bg select-radio select-list" checked />
						<input type="radio" name="list" value="not_changed" class="select-select select-radio select-list" id="select_01">
						<label class="bg" for="bg_01"></label>
						<div class="items">
							<input type="radio" name="list" value="first_value" id="list[0]" class="select-radio select-list">
							<label for="list[0]">Трудовой</label>
							<input type="radio" name="list" value="second_value" id="list[1]" class="select-radio select-list">
							<label for="list[1]">Не трудовой</label>
							<span id="text" class="select-text">Фильтр</span>
						</div>
					</label>
				</section>
			</section>

			<section class="left-section left-section__list">
				<div class="list-row list-row_head">
					<div class="list__num">#</div>
					<div class="list__name">ФИО</div>
					<div class="list__type"><img src="assets/images/Sort_inactive.png" class="sort-image"> Акции</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> RFM</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> LTV</div>
				</div>
				<div class="list__body" style="height: 600px;">
					<div class="list-row" *ngFor="let c of clients; let i = index">
						<div class="list__num">{{i + 1}}</div>
						<div class="list__name">{{c.fio}}</div>
						<div class="list__type"><label class="box-label box-label_checkbox"><input type="checkbox" class="box-label__input box-label__input_checkbox"></label></div>
						<div class="list__util">{{c.rfm}}</div>
						<div class="list__util">{{c.ltvString}}</div>
					</div>
				</div>
			</section>
			<section class="left-section left-section__pages">
				<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				<button class="button"><img src="assets/images/Import.svg" class="button__image"> Импортировать</button>
			</section>
		</div>
	</section>
	<section class="main-section main-section_right">
		<div class="container container_log">
			<section class="right-section right-section__header">
				<section class="header__top header__top_right">
					<div class="header-name">{{currentClient.fio}}</div>
					<div class="tabs">
						<button *ngFor="let t of tabs; let i = index" class="{{t.classes}}" id="tab_{{t.id}}" (click)="SwitchTab(i)">{{t.name}}</button>
					</div>
				</section>
				
				<!--Log-->
				<section class="header__bottom header__bottom_right" *ngIf="tabs[currentTab].id == 'log'">
					<label class="header-search-label">
						<span class="header-search-label__title">Поиск  </span>
						<label class="header-search-label__element search-label">
							<input type="search" class="search-input" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</label>
				</section>

			</section>

			<!--profile-->
			<section class="right-section right-section__transactions" *ngIf="tabs[currentTab].id == 'profile'">
				<div class="banner">					
					<div class="banner-item">
						<div class="banner-item__header">RFM: </div>
						<div class="banner-item__body">{{currentClient.rfm}}</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">LTV: </div>
						<div class="banner-item__body">{{currentClient.ltvString}}</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Участник акции </div>
						<div class="banner-item__body">
							<label class="box-label box-label_checkbox">
								<input type="checkbox" class="box-label__input box-label__input_checkbox">
							</label> Да
						</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Контактная политика: </div>
						<div class="banner-item__body">max 2 раза в месяц<br>если скидка больше 30%</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Цикл CX: </div>
						<div class="banner-item__body">готов к коммуникации<br> ⟶ продажа</div>
					</div>
				</div>

				<section class="left-section left-section__list transactions-list">
					<div class="list__title">Особенность</div>
					<div class="list-row list-row_head transactions-list__head">
						<div class="list__num">#</div>
						<div class="list__name">Особенность</div>
						<div class="list__name"><img src="assets/images/Sort_inactive.png" class="sort-image"> Добавлено</div>
					</div>
					<div class="transactions-list__body">
						<div class="list-row" *ngFor="let s of currentClient.specials; let i = index">
							<div class="list__num">{{i + 1}}</div>
							<div class="list__name">{{s.name}}</div>
							<div class="list__name">{{s.date}}</div>
						</div>
					</div>
				</section>

				<section class="left-section left-section__pages">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				</section>

				<section class="left-section left-section__list contacts-list">
					<div class="list__title">Контакты</div>
					<div class="list-row list-row_head contacts-list__head">
						<div class="list__num">#</div>
						<div class="list__name">Канал</div>
						<div class="list__type"><img src="assets/images/Sort_inactive.png" class="sort-image"> Номер \ Ник</div>
						<div class="list__name"><img src="assets/images/Sort_inactive.png" class="sort-image"> Последняя коммуникация</div>
						<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Действие</div>
					</div>
					<div class="list-row" *ngFor="let c of currentClient.contacts; let i = index">
						<div class="list__num">{{i + 1}}</div>
						<div class="list__name">{{c.name}}</div>
						<div class="list__type">{{c.value}}</div>
						<div class="list__name">{{c.lastdate}}</div>
						<div class="list__util">
							<div *ngIf="c.type == 0; then callBlock else mailBlock"></div>
							<ng-template #callBlock>
								<button class="button contact-button"><img src="assets/images/Call.svg" class="button__image"> Позвонить</button>
								<img src="assets/images/Dots.svg" class="status-column__dots">
							</ng-template>
							<ng-template #mailBlock>
								<button class="button contact-button"><img src="assets/images/Write.svg" class="button__image"> Написать</button>
								<img src="assets/images/Dots.svg" class="status-column__dots">
							</ng-template> 
						</div>
					</div>
				</section>

				<section class="left-section left-section__pages">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				</section>
				
			</section>

			<!--Reserve-->
			<section class="right-section right-section__list" *ngIf="tabs[currentTab].id == 'reserve'">
				Бронирование
			</section>

			<!--Log-->
			<section class="right-section right-section__list" *ngIf="tabs[currentTab].id == 'log'">
				<div class="list-row list-row_head">
					<div class="list__num">#</div>
					<div class="list__name">Обращение</div>
					<div class="list__service"><img src="assets/images/Sort_inactive.png" class="sort-image"> Услуга</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Ресурс</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Дата</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Статус</div>
				</div>
				<div class="list__body" style="height: 610px;">
					<div class="list-row" *ngFor="let l of currentClient.log; let i = index">
						<div class="list__num">{{i + 1}}</div>
						<div class="list__name">{{l.query}}</div>
						<div class="list__service">{{l.service}}</div>
						<div class="list__util">{{l.master}}</div>
						<div class="list__util">{{l.date}}</div>
						<div class="list__util">
							<div *ngIf="l.status; then closedBlock else openBlock"></div>
							<ng-template #closedBlock><span class="status-column status-column_closed"><img src="assets/images/Closed.svg" class="status-column__image"> {{l.statusString}}</span></ng-template>
							<ng-template #openBlock><span class="status-column status-column_open"><img src="assets/images/Open.svg" class="status-column__image"> {{l.statusString}}</span></ng-template> 
						</div>
					</div>
				</div>
				
				<section class="left-section left-section__pages">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				</section>

			</section>
		</div>
	</section>
</div>