.resources-sections
{
	display: flex;
	flex-direction: row;
	align-content: stretch;
	justify-items: stretch;
	align-items: stretch;
	height: 100%;
	width: 100%;
	justify-content: stretch;
}

.main-section_left
{
	flex: 3;
}

.main-section_right
{
	flex: 7;
	box-shadow: 0px 2px 4px rgba(4, 41, 57, 0.25);
}

/*General left*/

.container 
{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-content: stretch;
	height: 100%;
	width: 100%;
}

.container__left
{
	justify-content: stretch;
	
}

.left-section
{
	display: flex;

}

/*General end*/

/*Header*/

.left-section__header
{
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	flex: 2;
}

.header__top
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	height: 85px;
}

.header__top_left
{
	padding: 32px 28px 29px 28px;
}

.header__top_right
{
	padding: 32px 43px 29px 43px;
}

.header-section__left
{
	font-size: 22px;
	line-height: 26px;
	flex: 3;
}

.header-section__right
{
	display: flex;
	align-content: center;
	text-align: center;
}

.header__bottom
{
	display: flex;
	flex-direction: row;
}

.header__bottom_left
{
	padding: 0 28px 28px 28px;
}

/*Header end*/


/*Contacts and transactions*/

.right-section__transactions
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	flex: 9;
	padding: 0 40px 100px 40px; 
}


.banner
{
	width: 1199px;
	height: 187px;
	box-sizing: border-box;
	padding: 45px 60px;
	margin-bottom: 19px;

	background: url(../../assets/images/Contacts_banner.png) 100% 100% no-repeat;
	background-color: #003584;
	background-size: cover;

	font-size: 18px;
	line-height: 21px;
	color: #fff;
	
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

.banner-item
{
	border-left: 1px solid rgba(184, 215, 255, 0.3); 
	padding: 0 	40px;
}

.banner-item:first-child
{
	border-left: 1px solid transparent;
}

.banner-item__header
{
	font-weight: bold;
	padding: 4.5px 0;
	font-family: Roboto;
	font-style: normal;
}

.banner-item__body
{
	color: #B8D4FF;
}

.list__title
{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #042635;
	padding: 8px 0;
}

.contacts-list
{
	flex: 1 !important;
	margin-bottom: 20px;
}

.contacts-list__head, .transactions-list__head
{
	border-bottom: 1px solid #3D71BF !important;
}

.transactions-list
{
	flex: 4 !important;
	max-height: 300px;
	margin-bottom: 130px !important;
	overflow: hidden;
}

.transactions-list__body
{
	overflow: auto;
}

.transactions-list__body::-webkit-scrollbar 
{
	width: 6px;
}

/* Track */
.transactions-list__body::-webkit-scrollbar-track 
{
	background: linear-gradient(180deg, rgba(0, 64, 160, 0.1) 0%, rgba(26, 82, 165, 0.1) 77.78%);
	opacity: 0.1;
	border-radius: 28px;
	width: 6px;
}

/* Handle */
.transactions-list__body::-webkit-scrollbar-thumb
{
	background: #093751;
	border-radius: 28px;
	width: 6px;
	height: 39px;
}

.status-column__dots
{
	height: 16px;
	margin-left: 25px;
}

/*Contacts and transactions end*/

/*List*/

.left-section__list
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex: 4;
}

/*List end*/

/*Pages*/

.left-section__pages
{
	flex: 1;
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-content: center;
	align-items: center;
}

/*Pages end*/

/*General right*/

/*General end*/

.header-section_right
{
	text-align: center;
	margin-right: 30px;
}

.right-section__header
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	align-items: center;
}

.header-name
{
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	color: #093751;
}

.filter-label
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.right-section__list
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	flex: 9;
	padding: 0 40px 100px 40px; 
}

.status-column
{
	display: inline-block;
	vertical-align: middle;
}

.status-column_open
{
	color: green;
}

.status-column_closed
{
	color: #A6B1B7;
}

.status-column__image
{
	margin-right: 5px;
}