<div class="container">
	<section class="content-section">
		<section class="content-section__top">
			<!--utilization-rules-->
			<div *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'rules'" class="top_rules">Настройка правила: <span class="rule-name">{{currentCat.str}}</span></div>

			<!--actions-->
			<div *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'actions'" class="top_actions">
				<label class="header-search-label">
					<span class="header-search-label__title">Поиск  </span>
					<label class="header-search-label__element search-label">
						<input type="search" class="search-input" name="search" id="search_input">
						<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
					</label>
				</label>

				<div class="priority" id="priority">
					<div class="priority__header" (click)="PriorityClick();">
						<div>Приоритеризация</div>
						<img src="assets/images/Up.png" class="priority__arrow">
					</div>
					<div class="priority__body">
						<div class="priority__block">
							<div class="priority__sub-header">По услугам</div>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="service" value="expensive">
							</label> Дорогую </label>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="service" value="potential">
							</label> С большим клиентским потенциалом </label>
						</div>

						<hr class="hr">

						<div class="priority__block">
							<div class="priority__sub-header">По специалистам</div>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="staff" value="ctr">
							</label> С кем выше конверсия </label>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="staff" value="load">
							</label> По принципу выравнивания загрузки </label>
						</div>
					</div>
				</div>

				<button class="button header-bottom__button"> <img src="assets/images/Plus.svg" class="button__image"> Добавить слот</button>
			</div>

			<app-tabs [tabsdata]="tabsdata" [callback]="SwitchTab" [obj]="this"></app-tabs>

		</section>

		<!--utilization-rules-->
		<section class="content-section__bottom bottom_rules" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'rules'">
			
			<section class="content-bottom__left left_rules">
                <app-list [listdata]="cats_list" [callback]="SwitchCat"></app-list>

				<section class="left-section left-section__buttons">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить правило</button>
					<button class="button button_hollow">Изменить</button>
					<button class="button button_hollow">Отменить</button>
				</section>

			</section>

			<section class="content-bottom__right right_rules">
                <app-list [listdata]="rules_list"></app-list>
			</section>

		</section>

		<!--action-->
		<section class="content-section__bottom bottom_actions" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'actions'">

			<section class="actions-bottom__left">
                <app-list [listdata]="promos_list" [height]="680" [obj]="this" [callback]="SwitchPromo"></app-list>
			</section>
			

			<section class="actions-bottom__right">

				<section class="actions-bottom__right-top">

					<div class="right-top__header">
						<div><b>Услуга: </b> {{currentPromo.Product.name}}</div>
						<div><b>Статус: </b> <span [innerHTML]="promoStatus"></span></div>
					</div>

					<div class="right-top__body">

						<div class="body-col">
							<div><b>Ресурс:</b> {{currentPromo.Resource.name}}</div>
							<div><b>Цена:</b> {{newPrice}} ₽ (скидка {{currentPromo.discount}}%)</div>
							<div><b>Дата:</b> {{formattedDate}}</div>
							<div><b>Время:</b> {{currentPromo.interval}}</div>
							<div><b>Канал:</b> {{currentPromo.channel}}</div>
						</div>

						<div class="body-col">
							<div><b>Текст предложения:</b></div>
							<textarea class="textarea textarea_message">{{currentPromo.text}}</textarea>
						</div>

					</div>

				</section>

				<section class="actions-bottom__right-bottom">
                    <div class="line"><b>Предложения: </b></div>
                    
                    <app-list [listdata]="proposals_list" [height]="350"></app-list>
				</section>

			</section>
		</section>
	</section>
</div>