<div class="container">
	<section class="content-section">
		<section class="content-section__top">
			<!--utilization-rules-->
			<div *ngIf="currentTab == 0" class="top_rules">Настройка правила: <span class="rule-name">{{currentRule.title}}</span></div>

			<!--actions-->
			<div *ngIf="currentTab == 1" class="top_actions">
				<label class="header-search-label">
					<span class="header-search-label__title">Поиск  </span>
					<label class="header-search-label__element search-label">
						<input type="search" class="search-input" name="search" id="search_input">
						<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
					</label>
				</label>

				<div class="priority" id="priority">
					<div class="priority__header" (click)="PriorityClick();">
						<div>Приоритеризация</div>
						<img src="assets/images/Up.png" class="priority__arrow">
					</div>
					<div class="priority__body">
						<div class="priority__block">
							<div class="priority__sub-header">По услугам</div>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="service" value="expensive">
							</label> Дорогую </label>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="service" value="potential">
							</label> С большим клиентским потенциалом </label>
						</div>

						<hr class="hr">

						<div class="priority__block">
							<div class="priority__sub-header">По специалистам</div>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="staff" value="ctr">
							</label> С кем выше конверсия </label>
							<label class="priority__label"><label class="box-label box-label_radio">
								<input type="radio" class="box-label__input box-label__input_radio" name="staff" value="load">
							</label> По принципу выравнивания загрузки </label>
						</div>
					</div>
				</div>

				<button class="button header-bottom__button"> <img src="assets/images/Plus.svg" class="button__image"> Добавить слот</button>
			</div>

			<div class="tabs">
				<button *ngFor="let t of tabs; let i = index" class="{{t.classes}}" id="tab_{{t.id}}" (click)="SwitchTab(i)">{{t.name}}</button>
			</div>

		</section>

		<!--utilization-rules-->
		<section class="content-section__bottom bottom_rules" *ngIf="currentTab == 0">
			
			<section class="content-bottom__left left_rules">

				<section class="left-section left-section__list resources-list">
					<div class="list-row list-row_head  rules-list__head">
						<div class="list__num">#</div>
						<div class="list__name">Название раздела</div>
						<div class="list__type">Скидка в %</div>
					</div>
					<div class="rules-list__body">
						<div class="list-row" *ngFor="let r of rules; let i = index">
							<div class="list__num">{{i + 1}}</div>
							<div class="list__name">{{r.title}}</div>
							<div class="list__type">{{r.discount}}</div>
						</div>
					</div>
				</section>

				<section class="left-section left-section__buttons">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить правило</button>
					<button class="button button_hollow">Изменить</button>
					<button class="button button_hollow">Отменить</button>
				</section>

			</section>

			<section class="content-bottom__right right_rules">
				
				<section class="left-section left-section__list resources-list" style="height: 500px;">
					<div class="list-row list-row_head  rules-list__head">
						<div class="list__name">Ресурсы и % загрузки от целевых значений</div>
						<div class="list__type">Скидка %</div>
					</div>
					<div class="rules-list__body">
						<div class="list-row" *ngFor="let r of resources; let i = index">
							<div class="list__num">{{i + 1}}.</div>
							<div class="list__name">{{r.title}}</div>
							<div class="list__type">{{r.discount}}</div>
						</div>
					</div>
				</section>

			</section>

		</section>

		<!--action-->
		<section class="content-section__bottom bottom_actions" *ngIf="currentTab == 1">

			<section class="actions-bottom__left">
				<section class="left-section left-section__list resources-list" style="height: 745px;">
					<div class="list-row list-row_head  rules-list__head">
						<div class="list__num">#</div>
						<div class="list__type">Ресурс</div>
						<div class="list__service">Услуга</div>
						<div class="list__service">Временный интервал</div>
						<div class="list__util">Оценили сообщения</div>
						<div class="list__util">Статус</div>
					</div>
					<div class="rules-list__body">
						<div class="list-row" *ngFor="let r of data; let i = index">
							<div class="list__num">{{i + 1}}</div>
							<div class="list__type">{{r.name}}</div>
							<div class="list__service">{{r.service}}</div>
							<div class="list__service">{{r.interval}}</div>
							<div class="list__util">{{r.vote}}</div>
							<div class="list__util">
								<div *ngIf="r.status == 0" class="status_closed">
									<img src="assets/images/Lock.svg" class="status-img">
									закрыто
								</div>

								<div *ngIf="r.status == 1" class="status_active">
									<img src="assets/images/Active.svg" class="status-img">
									активно
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
			

			<section class="actions-bottom__right">

				<section class="actions-bottom__right-top">

					<div class="right-top__header">
						<div>Предложения</div>
						<div><b>Статус</b> <img src="assets/images/Lock.svg" class="header-status-img"> Закрыто</div>
					</div>

					<div class="right-top__body">

						<div class="body-col">
							<div><b>Ресурс:</b> Колесов А. В.</div>
							<div><b>Цена:</b> 750 р (скидка 37%)</div>
							<div><b>Дата:</b> 12.06.2020</div>
							<div><b>Назначена:</b> 10.06.2020 в 16:21</div>
							<div><b>Время:</b> 16:30 - 17:30</div>
							<div><b>Канал:</b> SMS</div>
						</div>

						<div class="body-col">
							<div><b>Текст предложения:</b></div>
							<textarea class="textarea textarea_message">Мы предлагаем вам скидку 37% на услугу: “Массаж со специалистом Колесовым А.В. на 12.06.2020 в 16:30”. Предложение дейтвует в течении 30 мин. Если оно вас заинтересовало, отправьте цифры “1” в ответ.</textarea>
						</div>

					</div>

				</section>

				<section class="actions-bottom__right-bottom">
					<div class="line"><b>История поиска: </b></div>
					<section class="left-section left-section__list resources-list">
						<div class="list-row list-row_head  rules-list__head">
							<div class="list__num">#</div>
							<div class="list__type">Дата / Время</div>
							<div class="list__name">Клиент</div>
							<div class="list__type">Статус</div>
						</div>
						<div class="rules-list__body" style="height: 372px;">
							<div class="list-row" *ngFor="let s of searchLog; let i = index">
								<div class="list__num">{{s.id}}</div>
								<div class="list__type">{{s.date}}</div>
								<div class="list__name">{{s.client}}</div>
								<div class="list__type">
									<div *ngIf="s.status == 0">
										<img src="assets/images/Approve.svg">
										Забронировала
									</div>

									<div *ngIf="s.status == 1">
										<img src="assets/images/Eye.svg">
										Не прочитал
									</div>

									<div *ngIf="s.status == 2">
										<img src="assets/images/Cross.svg">
										Удалил
									</div>
								</div>
							</div>
						</div>
					</section>
				</section>

			</section>
		</section>
	</section>
</div>