
<form class="login_form" *ngIf="loged == false">
    <br>
    <div>Авторизация</div><br>
    <label class="input-label">
        <input type="text" class="input" placeholder="Логин" #loginInput id="login">
    </label><br>
    <label class="input-label">
        <input type="password" class="input" placeholder="Пароль" #passwordInput id="passoword">
    </label><br>    
    
    <button class="button" (click)="handleLogin(loginInput.value, passwordInput.value)">Сохранить</button>
    <p>{{msg}}</p>
    
</form>

<div class="login_form" *ngIf="loged == true">
    Вы авторизованы!
</div>

