<div class="container">
	<section class="section-top">
		<label class="header-search-label">
			<span class="header-search-label__title">Поиск </span>
			<label class="header-search-label__element search-label">
				<input type="search" class="search-input" name="search" id="search_input">
				<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
			</label>
		</label>

		<label class="header-select-label select-label">
			<select name="filter" id="filter" class="select-elem">
				<option value="1">Фильтр</option>
				<option value="2">Трудовой</option>
				<option value="3">Не трудовой</option>
			</select>
		</label>

		<label class="head-sales">
			<label class="switch head-toggle">
				<input class='switch__input' type="checkbox">
				<span class="switch__slider"></span>
			</label>
			Открыть продажи
		</label>

		<label class="input-label">
			<input type="text" class="input" placeholder="Минимальный доход в месяц">
		</label>

		<button class="button">Посчитать</button>

	</section>

	<section class="section-bottom">

		<section class="left-section left-section__list resources-list">
			<div class="list-row list-row_head  rules-list__head">
				<div class="list__n">#</div>
				<div class="list__pname">Ресурс</div>
				<div class="list__pmin"><img src="assets/images/Sort.svg" class="sort-image"> Цена max</div>
				<div class="list__pmin"><img src="assets/images/Sort.svg" class="sort-image"> Цена min</div>
				<div class="list__koef"><img src="assets/images/Sort.svg" class="sort-image"> Коэф</div>
				<div class="list__pmin"><img src="assets/images/Sort.svg" class="sort-image"> Целевой доход</div>
				<div class="list__pmax list__pmax_first"><img src="assets/images/Sort.svg" class="sort-image"> Max доход в месяц</div>
				<div class="list__pmax list__pmax_last"><img src="assets/images/Sort.svg" class="sort-image"> Min доход в месяц</div>
				<div class="list__service"><img src="assets/images/Sort.svg" class="sort-image"> Продажа</div>
			</div>
			<div class="list__body rules-list__body">
				<div class="list-row list-row_b" *ngFor="let r of data; let i = index">
					<div class="list__n">{{i + 1}}</div>
					<div class="list__pname">{{r.name}}</div>
					<div class="list__pmin">{{r.priceMax}}</div>
					<div class="list__pmin">{{r.priceMin}}</div>
					<div class="list__koef">{{r.koef}}</div>
					<div class="list__pmin">{{r.goalIncome}}</div>
					<div class="list__pmax list__pmax_first">{{r.maxMonthlyIncome}}</div>
					<div class="list__pmax list__pmax_last">{{r.minMonthlyIncome}}</div>

					<div class="list__service">
						<div *ngIf="r.sale == 0" class="status_closed">
							<img src="assets/images/Lock.svg" class="status-img">
							Заблокирована системой
						</div>

						<div *ngIf="r.sale == 1" class="status_active">
							<img src="assets/images/Active.svg" class="status-img">
							Открыта
						</div>
					</div>

					<div class="details-button" (click)="ShowDetails(i);" id="details-btn_{{i}}"><img class="details-image" src="assets/images/Details.svg"></div>
					<div class="details-menu" id="details_{{i}}">
						<label class="details-toggle">
							<label class="switch _details">
								<input class='switch__input _details' type="checkbox">
								<span class="switch__slider _details"></span>
							</label>
							Заблокировать
						</label>
						<label class="header-select-label select-label details-select">
							<select name="filter" id="filter" class="select-elem _details">
								<option value="1">На 1 день</option>
								<option value="2">На 1 неделю</option>
								<option value="3">На 1 месяц</option>
							</select>
						</label>

						<label class="details-toggle" disabled>
							<label class="switch _details">
								<input class='switch__input _details' type="checkbox" disabled>
								<span class="switch__slider _details"></span>
							</label>
							Уведомления
						</label>
						<label class="header-select-label select-label details-select" disabled>
							<select name="filter" id="filter" class="select-elem _details" disabled>
								<option value="1">За час и полчаса</option>
								<option value="2">За день</option>
								<option value="3">За неделю</option>
							</select>
						</label>
					</div>
				</div>
			</div>
		</section>

		<div class="footer">
			<div class="footer__all">
				Всего ресурсов: 32
			</div>

			<div class="status">
				<div class="status__title">Всего: </div>
				<div class="status__value">10 000₽</div>
			</div>
			<div class="status">
				<div class="status__title">Всего: </div>
				<div class="status__value">355 000₽</div>

			</div>
			<div class="status">
				<div class="status__title">Всего: </div>
				<div class="status__value">120 000₽</div>

			</div>
		</div>

	</section>
</div>