<div class="container">
	<section class="section-top">
		<label class="header-search-label">
			<span class="header-search-label__title">Поиск </span>
			<label class="header-search-label__element search-label">
				<input type="search" class="search-input" name="search" id="search_input">
				<button type="submit" class="search-button" id="search_submit"><img class="button__image"
						src="assets/images/Search.svg"></button>
			</label>
		</label>

		<label class="header-select-label select-label">
			<select name="filter" id="filter" class="select-elem">
				<option value="1">Фильтр</option>
				<option value="2">Трудовой</option>
				<option value="3">Не трудовой</option>
			</select>
		</label>

		<label>
			<label class="toggle-label">
				<input class='toggle-label__input' type="checkbox">
			</label>
			Открыть продажи
		</label>

		<label>
			<input type="text">
		</label>

		<button class="button">Посчитать</button>

	</section>

	<section class="section-bottom">

		<div class="footer">
			<div>
				Всего ресурсов: 32
			</div>

			<div>
				<div>Всего: </div>
				10 000р
			</div>
			<div>
				<div>Всего: </div>
				355 000р

			</div>
			<div>
				<div>Всего: </div>
				120 000р

			</div>
		</div>

	</section>
</div>