<div class="container">
	<section class="section-top">
		<label class="header-search-label">
			<span class="header-search-label__title">Поиск </span>
			<label class="header-search-label__element search-label">
				<input type="search" class="search-input" name="search" id="search_input">
				<button type="submit" class="search-button" id="search_submit"><img class="button__image"
						src="assets/images/Search.svg"></button>
			</label>
		</label>

		<label class="header-select-label select-label">
			<select name="filter" id="filter" class="select-elem">
				<option value="1">Фильтр</option>
				<option value="2">Трудовой</option>
				<option value="3">Не трудовой</option>
			</select>
		</label>

		<label>
			<label class="toggle-label">
				<input class='toggle-label__input' type="checkbox">
			</label>
			Открыть продажи
		</label>

		<label>
			<input type="text">
		</label>

		<button class="button">Посчитать</button>

	</section>

	<section class="section-bottom">

		<section class="left-section left-section__list resources-list" style="height: 745px;">
			<div class="list-row list-row_head  rules-list__head">
				<div class="list__num">#</div>
				<div class="list__name">Ресурс</div>
				<div class="list__util"><img src="assets/images/Sort.svg" class="sort-image"> Цена max</div>
				<div class="list__util"><img src="assets/images/Sort.svg" class="sort-image"> Цена min</div>
				<div class="list__util"><img src="assets/images/Sort.svg" class="sort-image"> Коэф</div>
				<div class="list__type"><img src="assets/images/Sort.svg" class="sort-image"> Целевой доход</div>
				<div class="list__type"><img src="assets/images/Sort.svg" class="sort-image"> Max доход в месяц</div>
				<div class="list__type"><img src="assets/images/Sort.svg" class="sort-image"> Min доход в месяц</div>
				<div class="list__service"><img src="assets/images/Sort.svg" class="sort-image"> Продажа</div>
			</div>
			<div class="rules-list__body">
				<div class="list-row" *ngFor="let r of data; let i = index">
					<div class="list__num">{{i}}</div>
					<div class="list__name">{{r.name}}</div>
					<div class="list__util">{{r.priceMax}}</div>
					<div class="list__util">{{r.priceM}}</div>
					<div class="list__util">{{r.koeff}}</div>
					<div class="list__type">{{r.goalIncome}}</div>
					<div class="list__type">{{r.maxMonthlyIncome}}</div>
					<div class="list__type">{{r.minMonthlyIncome}}</div>

					<div class="list__service">
						<div *ngIf="r.status == 0" class="status_closed">
							<img src="assets/images/Lock.svg" class="status-img">
							Заблокирована системой
						</div>

						<div *ngIf="r.status == 1" class="status_active">
							<img src="assets/images/Active.svg" class="status-img">
							Открыта
						</div>
					</div>
					<div class="list__util">
						
					</div>
				</div>
			</div>
		</section>

		<div class="footer">
			<div>
				Всего ресурсов: 32
			</div>

			<div>
				<div>Всего: </div>
				10 000р
			</div>
			<div>
				<div>Всего: </div>
				355 000р

			</div>
			<div>
				<div>Всего: </div>
				120 000р

			</div>
		</div>

	</section>
</div>