.container
{
	padding: 40px;
}

.section-top
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-search-label
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 5px;
}

.header-search-label__title
{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.6);
	margin-right: 25px;
}

.header-search-label__element
{
	width: 457px;
}

.header-select-label
{
	margin-right: 20px;
}

/*Schedule*/

.schedule
{
	margin-top: 40px;
}

.schedule-title__top
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	border-bottom: 1px solid #3D71BF;
}

.schedule-title__bottom
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.schedule-row
{
	height: 36px;
}

.list-item_big
{
	flex: 4;
}

.list-item_small
{
	flex: 1;
}

.list-item_medium
{
	flex: 2;
}