<section class="section-top">
	<label class="header-search-label">
		<span class="header-search-label__title">Поиск  </span>
		<label class="header-search-label__element search-label">
			<input type="search" class="search-input" name="search" id="search_input">
			<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
		</label>
	</label>

	<label class="select-label">
		<select name="filter" id="filter" class="select-elem">
			<option value="1">Фильтр</option>
			<option value="2">Трудовой</option>
			<option value="3">Не трудовой</option>
		</select>
	</label>

	<label class="header-date-label__element date-label">
		<input type="date" class="date-input" name="date" id="search_input" placeholder="Период">
	</label>

</section>

<section class="section-bottom">
	Bottom
</section>
