
.list-section
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex: 4;
}

.list__title
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #3D71BF;
    padding: 8px 0;
}

.list__head
{
    font-weight: 500;
	color: #042635;
	background: transparent;
    box-shadow: none;
    display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	padding: 9px 25px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 16px;
	height: 46px;
	min-height: 46px;
	border-bottom: 1px solid transparent;
}

.list__head_lined
{
    border-bottom: 1px solid #3D71BF !important;
}

.list-body
{
    overflow: auto;
}

.list-row
{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	padding: 9px 25px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 16px;
	height: 46px;
	min-height: 46px;
	border-bottom: 1px solid rgba(61, 113, 191, 0.1);
}

.list-row_active, .list-row:hover
{
	color: #4A5DC2;
	background: #F1F6FD;
	box-shadow: 0px 1px 1px rgba(8, 29, 61, 0.23);
}

.list-row:last-child
{
	border-bottom: 1px solid transparent;
}

.list__num
{
	width: 50px;
}

.list__name
{
	flex: 4;
}

.list__service
{
	flex: 3;
}

.list__type, .list__util
{
	flex: 2;
}

.list__body
{
	overflow: auto;
}



.list__sale
{
	margin-left: 100px;
}

.list__util
{
	flex: 1.5;
}

.list-row_b
{
	justify-content: space-between;
}

.list-row_b:hover .details-button
{
	display: block;
}

.list__n
{
	width: 40px;
	margin-right: 20px;
}

.list__koef
{
	width: 98px;
	text-align: center;
	margin-right: 20px;
}

.list__pname
{
	width: 425px;
}

.list__pmin
{
	width: 120px;
}

.list__pmin2
{
    width: 135px;
}

.list__koef2
{
    width: 98px;
    margin-right: 5px;
}

.list__koef3
{
    width: 98px;
    text-align: center;
    margin-right: 5px;
}

.list__pmax
{
	width: 162px;
}

.list__pmax_first
{
	margin-left: 25px;
}

.list__pmax_last
{
	margin-right: 80px !important;
}

._centered
{
    width: 100%;
    text-align: center;
    display: block;
}

.list__dots
{
    display: none;
    cursor: pointer;
    vertical-align: middle;
    height: 16px;
}

.list-row:hover .list__dots
{
    display: inline-block;
}

.list-button
{
    width: 107px;
    display: inline-block;
}

.sort-image
{
	width: 9px;
	display: inline-block;
	vertical-align: middle;
}
