<section class="list-section">
    <div class="list__title" *ngIf="listdata.showTitle">{{listdata.title}}</div>
    <div class="list__head {{listdata.titleclasses}}">
        <div class='list__num' *ngIf="listdata.showId">#</div>
        <div class="list__{{col.type}}" *ngFor="let col of listdata.cols"><img src="assets/images/Sort_inactive.png" class="sort-image" *ngIf="col.sortable"> {{col.name}}</div>
    </div>
    <div class="list__body">
        <div class="list-row list-row_{{listdata.listname}}" (click)="ItemClick(i)" *ngFor="let row of listdata.rows; let i = index">
            <div class="list__num" *ngIf="listdata.showId">{{i + 1}}</div>
            <div class="list__{{listdata.cols[i].type}}" *ngFor="let val of row.values; let i = index">{{val}}</div>
        </div>
    </div>
</section>