.nav
{
	flex: 1;
	margin: 8px 40px;
	background: linear-gradient(180deg, #053651 -59.15%, #011E2E 148.59%);
	box-shadow: 0px 1px 4px rgba(9, 47, 64, 0.2);
	border-radius: 4px;
	overflow: hidden;
}

.nav__content
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-section
{
	display: flex;
	flex-direction: row;
}

.nav-section_right
{
	justify-content: flex-end;
}

.nav-item, .child-item
{
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}

.nav-item_left
{
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-item_right
{
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-item__content, .child-item__content
{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 25px 30px 20px 30px;
	box-sizing: border-box;
	height: 100%;
	border-bottom: 5px solid transparent;
}

.child-item__content
{
	border-bottom: 1px solid #0C62E3;
}

.child-item__content_active
{
	border-bottom: 5px solid #0C62E3 !important;
}

.nav-item__content_active
{
	background: rgba(12, 98, 227, 0.2);
	color: #B8D4FF;
	border-bottom: 5px solid #0C62E3;
}

.nav-item:hover .nav-item__content_children
{
	background: #031924 !important;
	border-bottom: 5px solid transparent !important;
}

.nav-arrow
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
	width: 12px;
	transform: rotate(180deg);
}

.nav-item:hover .nav-arrow
{
	transform: rotate(360deg);
}

.nav-item__body
{
	display: none;
	position: absolute;
	z-index: 1000;
	background: #031924;
}

.nav-item:hover .nav-item__body
{
	display: block;	
}

.messages
{
	background: #D30F03;
	border-radius: 50%;
	font-weight: 900;
	width: 21px;
	height: 21px;
	box-sizing: border-box;
	padding: 4px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	position: absolute;
	left: 88%;
	top: 2.34%;

}