<label class="dropdown-label" [formGroup]="fg">

    <span class="dropdown__title">{{list.title}}  </span>

    <label for="select_{{name}}" class="select select-label_graph">

        <input type="radio" name="list_{{name}}" value="not_changed" id="bg_{{name}}" class="select-bg select-radio select-list" [checked]="list.none_checked"/>

        <input type="radio" name="list_{{name}}" value="not_changed" class="select-select select-radio select-list" id="select_{{name}}">

        <label class="bg" for="bg_{{name}}"></label>

        <div class="items">
            <div *ngFor="let item of list.items; let i = index">
                <input type="radio" name="list_{{name}}" formControlName="list_{{name}}" value="{{item.value}}" id="list_{{name}}[{{i}}]" class="select-radio select-list" (click)="OnChange(item.value)" [checked]="item.checked">
                <label for="list_{{name}}[{{i}}]">{{item.title}}</label>
            </div>
            <span id="text_{{name}}" class="select-text">{{list.title}}</span>
        </div>

    </label>
</label>