
.dropdown-label
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown__title
{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
}

.dropdown-bg
{
    position: absolute;
    /* background: rgba(165, 42, 42, 0.2); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.dropdown
{
    position: relative;
    display: inline-block;
	width: 212px;
    height: 36px;
    margin: 10px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0px 1px 4px rgba(9, 47, 64, 0.2);
	/* overflow: hidden; */
	border: 2px solid transparent;
}

.dropdown_fullsize
{
    width: 100% !important;
    margin: 10px 0 !important;
}

.dropdown__head
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    margin-top: 2px;
}

.dropdown-image__container
{
	pointer-events: none;
	border: 6px solid transparent;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


._blue
{
    background: #3D71BF;
}

._white
{
    background: #fff;
}

.dropdown__image
{
    width: 10px;
    height: 10px;
}

.dropdown__items
{
    width: 212px;
    position: absolute;
    display: block;
    background: #fff;
    z-index: 60;
    margin-top: 1px;
    padding-top: 10px;
    margin-left: -2px;
    border-radius: 0 0 4px 4px;
    max-height: 240px;
    overflow: auto;
}

.dropdown-item
{
    /* background: #fff; */
    padding: 10px;
    /* height: 150px;
    width: 1000px; */
}

.dropdown-item:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

._hidden-items
{
    display: none;
}

.select-label:focus-within, .select-label:hover
{
	border: 2px solid #3D71BF;
}

.select-elem 
{
	flex: 1;
	padding: 0 0 0 15px;
	color: #000;
	cursor: pointer;
}

/* .dropdown-body::after 
{
	content: url(../../assets/images/Down.png);
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 34px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	cursor: pointer;
	color: #fff;
	background: #3D71BF;
	pointer-events: none;
	border: 6px solid #fff;
	border-radius: 10px;
}

.select-label:focus-within::after, .select-label:focus-within::after
{ 
	background: transparent;
	content: url(../../assets/images/Up.png); 
} */
