
.dropdown-label
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown__title
{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
}

/* 

.select-radio
{
	display: none;
}

.select-text
{
	position: absolute;
	display: block;
	top: 0;
	padding-left: 16px;
}

.select
{
	display: inline-block;
	line-height: 36px;
	font-weight: normal;
	font-size: 14px;
	position: relative; 
	width: 244px;
	height: 36px;
	box-sizing: border-box;
	cursor: default;
}

.select:before
{
	content: url('../../assets/images/Down.png');
	display: inline-block;
	background: #3D71BF;
	position: absolute;
	right: 4px;
	top: 3.5px;
	z-index: 32;
	width: 29px;
	height: 29px;
	box-sizing: border-box;
	padding-top: 2px;
	text-align: center;
	border-radius: 4px;
	cursor: default;
}

.select:hover:before
{
	background: #fff;
	content: url('../../assets/images/Up.png');
}

.select .select-list:not(:checked) ~ .select-text
{
	color: black;
	background: white;
}

.select .select-list:checked ~ .select-text
{
	background: transparent !important;
	color: transparent !important;
	z-index: 300;
}

.select-select:disabled ~ .items .select-text
{
	background: #eee;
}

.items
{
	display: block;
	min-height: 36px;
	position: absolute; 
	overflow: hidden; 
	z-index: 30;
	width: 244px;
	cursor: default;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(9, 47, 64, 0.2);
	border-radius: 4px;
}

.select-select:not(:checked) ~ .items
{
	height: 36px;
}

.items label
{
	display: none;
	padding-left: 16px;
	background: white;
	height: 40px;
}

.items label:hover
{
	background: #F1F6FD;
	box-shadow: 0px 1px 1px rgba(8, 29, 61, 0.23);
}

.select-select:checked ~ .items
{
	padding-top: 36px;
}

.select-select:checked ~ .items label
{
	display: block;
}

.items input:checked + label
{
	display: block!important;
	border: none;
	background: white;
}

.select-select:checked ~ .bg
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}

._top-select 
{
	z-index: 5000;
} */
