.resources-sections
{
	display: flex;
	flex-direction: row;
	align-content: stretch;
	justify-items: stretch;
	align-items: stretch;
	height: 100%;
	width: 100%;
	justify-content: stretch;
}

.main-section_left
{
	flex: 3;
}

.main-section_right
{
	flex: 7;
	box-shadow: 0px 2px 4px rgba(4, 41, 57, 0.25);
}

/*General left*/

.container 
{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-content: stretch;
	height: 100%;
	width: 100%;
}

.container__left
{
	justify-content: stretch;
	
}

.left-section
{
	display: flex;

}

/*General end*/

/*Header*/

.left-section__header
{
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
}

.header__top
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	height: 85px;
}

.header__top_left
{
	padding: 32px 28px 29px 28px;
}

.header__top_right
{
	padding: 32px 43px 29px 43px;
}

.header-section__left
{
	font-size: 22px;
	line-height: 26px;
	color: #042635;
}

.header-section__right
{
	display: flex;
	align-content: center;
	text-align: center;
}

.header__bottom
{
	display: flex;
	flex-direction: row;
}

.header__bottom_left
{
	padding: 0 28px 28px 28px;
}

.header__bottom_right
{
	padding: 0 43px 28px 43px;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
}

.header-search-label
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-search-label__title
{
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 16px;
	margin-right: 10px;
}

.header-search-label__element
{
	width: 600px;
}

.header-bottom__button
{
	padding-left: 25px !important;
	padding-right: 25px !important;

}

/*Header end*/

/* profile Banner*/

.right-section__profile
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	flex: 9;
    margin: 0 40px 40px 40px; 
}

.banner
{
    max-height: 187px;
    flex: 1;
	box-sizing: border-box;
    padding: 45px 60px;
    margin: 0 -39px;

	background: url(../../assets/images/Contacts_banner.png) 100% 100% no-repeat;
	background-color: #003584;
	background-size: cover;

	font-size: 18px;
	line-height: 21px;
	color: #fff;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

.banner-item
{
	border-left: 1px solid rgba(184, 215, 255, 0.3); 
    padding: 0 	40px;
}

.banner-item:first-child
{
	border-left: 1px solid transparent;
}

.banner-item__header
{
	font-weight: bold;
	padding: 4.5px 0;
	font-family: Roboto;
    font-style: normal;
    text-align: center;
}

.banner-item__body
{
    color: #B8D4FF;
    text-align: center;
    margin-top: 20px;
}

.profile-body
{
    overflow: auto;
    flex: 2;
    max-height: 460px;
    padding-top: 19px;
    margin-right: -39px;
    padding-right: 39px;
}

.list__title
{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #3D71BF;
	padding: 8px 0;
}

.contacts-list
{
	margin-bottom: 20px;
}

.contacts-list__head, .transactions-list__head
{
	border-bottom: 1px solid rgba(61, 113, 191, 0.3) !important;
}

.contact-button
{
	width: 107px;
}

.transactions-list__body
{
	overflow: auto;
}

.transactions-list__body::-webkit-scrollbar 
{
	width: 6px;
}

/*Pages*/

.right-section__schedule
{
	margin: -40px 40px 40px 0;
	padding: 40px 10px 0px 40px;
	width: 1250px;
	box-sizing: border-box;
	/* main sahd2 */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: stretch;
}

.left-section__pages
{
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-content: flex-start;
    padding: 15px 20px;
	align-items: center;
}

/*Pages end*/

.header-section_right
{
	text-align: center;
	margin-right: 30px;
}

.right-section__header
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 2;
	align-items: center;
}

.header-name
{
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	color: #093751;
}

.header-subname
{
    font-weight: normal;
    font-size: 14px !important;
    line-height: 16px;
    color: rgba(9, 55, 81, 0.6);
    position: absolute;
}

.profile-search-label
{
    margin-top: -10px;
}

.edit-menu
{
    position: absolute;
    top: 110px;
    right: 550px;
    width: 262px;
    height: 353px;
    background: #FAFBFD;
    box-shadow: 0px 1px 25px rgba(61, 113, 191, 0.35);
    border-radius: 4px;
    z-index: 500;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 16px;
}

.edit-menu__title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(185, 204, 232, 0.3);
    cursor: pointer;
    padding-left: 21px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #3D71BF;
}

.edit-title__image
{
    margin: 13px;
}

.edit-menu__body
{
    padding: 10px 14px 21px 21px;
}

.edit-body__title
{
    color: #3D71BF;
    font-size: 12px;
    line-height: 14px;
    height: 25px;
    font-weight: bold;
}

.edit-body__input-label
{
    width: 227px;
    height: 45px;
}

.edit-body__date-label
{
    width: 125px;
    height: 36px;
}

.edit-body__date
{
    font-size: 10px;
}

.edit-body__hr
{
    height: 0;
    margin: 17px -14px 5px -21px;
    opacity: 0.3;
    border: 1px solid #B9CCE8;
}

.edit-menu__label
{
    font-size: 12px;
    line-height: 14px;
    color: #000;
    margin-right: 15px;
}

.label-name
{
    display: inline-block;
    vertical-align: middle;
}

.filter-label
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.right-section__graph
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	flex: 9;
    padding: 0 40px;
    margin-top: -19px;
}

