<div class="resources-sections" *ngIf="currentResource != null">
	<section class="main-section main-section_left">
		<div class="container container__left">
			<section class="left-section left-section__header">

				<section class="header__top header__top_left">
					<section class="header-section header-section__left">
						Список ресурсов
					</section>
				</section>
			
				<section class="header__bottom header__bottom_left">
					<form>
						<label class="search-label">
							<input type="search" class="search-input" placeholder="Поиск" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</form>
					<label for="select_01" class="select">
						<input type="radio" name="list" value="not_changed" id="bg_01" class="select-bg select-radio select-list" checked />
						<input type="radio" name="list" value="not_changed" class="select-select select-radio select-list" id="select_01">
						<label class="bg" for="bg_01"></label>
						<div class="items">
							<input type="radio" name="list" value="first_value" id="list[0]" class="select-radio select-list">
							<label for="list[0]">Трудовой</label>
							<input type="radio" name="list" value="second_value" id="list[1]" class="select-radio select-list">
							<label for="list[1]">Не трудовой</label>
							<span id="text" class="select-text">Фильтр</span>
						</div>
					</label>
				</section>
			</section>

            <app-list [listdata]="resources_list" [callback]="SwitchResource" [obj]="this" [height]="580"></app-list>

			<section class="left-section__pages">
				<button class="button" (click)="goToResourceForm()"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				<button class="button" (click)="alert('Вызов API клиента')"><img src="assets/images/Import.svg" class="button__image"> Импортировать</button>
			</section>

		</div>
	</section>
	<section class="main-section main-section_right">
		<div class="container">
			<section class="right-section right-section__header">
				<section class="header__top header__top_right">
                    <div class="header-name">
                        <span *ngIf="tabsdata.tabs[tabsdata.currentTab].id != 'profile'">{{currentResource.name}}</span>
                        <span *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'profile'">
                            {{currentResource.name}}
                            <button class="button button_small"><img class="button__image" src="assets/images/pencil.svg"  (click)="ShowEditMenu();"></button>

                            <div class="edit-menu _hidden" id="edit-menu">
                                <div class="edit-menu__title" (click)="HideEditMenu();">
                                    <div>Изменить</div>
                                    <img src="assets/images/Up.png" class="edit-title__image">
                                </div>
                                <div class="edit-menu__body">
                                    <div class="edit-body__title">ФИО</div>
                                    <label class="input-label edit-body__input-label">
                                        <input type="text" class="input edit-body__input" placeholder="ФИО" value="{{currentResource.name}}">
                                    </label>
                                    <hr class="hr edit-body__hr">
                                    <div class="edit-body__title">Пол</div>
                                    <label class="edit-menu__label">
                                        <label class="box-label box-label_radio">
                                            <input type="radio" name="sex" class="box-label__input box-label__input_radio">
                                        </label> 
                                        <span class="lable-name">Муж</span>
                                    </label>

                                    <label class="edit-menu__label">
                                        <label class="box-label box-label_radio">
                                            <input type="radio" name="sex" class="box-label__input box-label__input_radio">
                                        </label> 
                                        <span class="lable-name">Жен</span>
                                    </label>


                                    <hr class="hr edit-body__hr">
                                    <div class="edit-body__title">Дата рождения</div>
                                    <label class="header-date-label__element date-label  edit-body__date-label">
                                        <input type="date" class="date-input  edit-body__date" name="date" placeholder="Период">
                                    </label>
                                    <button class="button">Сохранить</button>
                                </div>
                            </div>
                        </span>
                        
                    </div>
					<app-tabs [tabsdata]="tabsdata" [callback]="SwitchTab"></app-tabs>
				</section>

                <!--Service-->
				<section class="header__bottom header__bottom_right" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'service' || tabsdata.tabs[tabsdata.currentTab].id == 'log'">
					<label class="header-search-label">
						<span class="header-search-label__title">Поиск  </span>
						<label class="header-search-label__element search-label">
							<input type="search" class="search-input" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</label>
				</section>
                
				<!--Sales-->
				<section class="header__bottom header__bottom_right" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'sales'">
					<label class="header-search-label">
						<span class="header-search-label__title">Поиск  </span>
						<label class="header-search-label__element search-label">
							<input type="search" class="search-input" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</label>
				</section>

				<!-- Log -->
				<!-- <section class="header__bottom header__bottom_right" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'log'">
					
				</section> -->
			</section>

            <!--profile-->
			<section class="right-section right-section__profile" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'profile'">
                <app-profile [profile_data]="profile_data" [dropdowns]="dropdowns" [obj]="this"></app-profile>
			</section>

			<!--Load-->
			<section class="right-section right-section__schedule" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'load'">
				<app-time-table [timedata]="timedata" [width]="1200"></app-time-table>
			</section>

            <!--Sales-->
			<section class="right-section right-section__graph" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'sales'">
                <app-list [listdata]="sales_list" [obj]="this"></app-list>
				<section style="margin-bottom: 20px;">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				</section>
			</section>

			<!--Services-->
			<section class="right-section right-section__graph" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'service'">
                <app-list [listdata]="services_list"></app-list> 			
				<section style="margin-bottom: 20px;">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				</section>
			</section>

			<!--Log-->
			<section class="right-section right-section__graph" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'log'">
				<app-list [listdata]="log_list" [height]="600"></app-list>
			</section>
		</div>
	</section>
</div>
<app-popup [popup]="currentPopup" [visible]="popupVisibility" [callback]="PopupCallback" [index]="popupIndex" [obj]="this"></app-popup>
<app-context [left]="context_left" [top]="context_top" [obj]="this" [type]="context_type" [visibility]="context_visibility"></app-context>