<div class="resources-sections">
	<section class="main-section main-section_left">
		<div class="container container__left">
			<section class="left-section left-section__header">

				<section class="header__top header__top_left">
					<section class="header-section header-section__left">
						Список ресурсов
					</section>
				</section>
			
				<section class="header__bottom header__bottom_left">
					<form>
						<label class="search-label">
							<input type="search" class="search-input" placeholder="Поиск" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</form>
					<label for="select_01" class="select">
						<input type="radio" name="list" value="not_changed" id="bg_01" class="select-bg select-radio select-list" checked />
						<input type="radio" name="list" value="not_changed" class="select-select select-radio select-list" id="select_01">
						<label class="bg" for="bg_01"></label>
						<div class="items">
							<input type="radio" name="list" value="first_value" id="list[0]" class="select-radio select-list">
							<label for="list[0]">Трудовой</label>
							<input type="radio" name="list" value="second_value" id="list[1]" class="select-radio select-list">
							<label for="list[1]">Не трудовой</label>
							<span id="text" class="select-text">Фильтр</span>
						</div>
					</label>
				</section>
			</section>

            <app-list [listdata]="resources_list" [callback]="SwitchResource" [obj]="this" [height]="600"></app-list>
            
			<!-- <section class="left-section left-section__list">
				<div class="list-row list-row_head">
					<div class="list__num">#</div>
					<div class="list__name">Ресурс</div>
					<div class="list__type"><img src="assets/images/Sort_inactive.png" class="sort-image"> Тип</div>
					<div class="list__util"><img src="assets/images/Sort_inactive.png" class="sort-image"> Утилизация</div>
				</div>
				<div class="list__body" style="height: 600px;">
					<div class="list-row list-row_res" *ngFor="let r of resources; let i = index" (click)="SwitchResource(i)">
						<div class="list__num">{{r.id}}</div>
						<div class="list__name">{{r.shortname}}</div>
						<div class="list__type">{{r.ResourceType.name}}</div>
						<div class="list__util _{{r.color}} _center">{{r.util}}%</div>
					</div>
				</div>
			</section> -->

			<section class="left-section__pages">
				<button class="button" (click)="goToResourceForm()"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				<button class="button" (click)="alert('Вызов API клиента')"><img src="assets/images/Import.svg" class="button__image"> Импортировать</button>
			</section>

		</div>
	</section>
	<section class="main-section main-section_right">
        <!-- <app-popup [popup]="currentPopup"></app-popup> -->
		<div class="container">
			<section class="right-section right-section__header">
				<section class="header__top header__top_right">
                    <div class="header-name">
                        <span *ngIf="tabsdata.tabs[tabsdata.currentTab].id != 'profile'">{{currentResource.name}}</span>
                        <span *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'profile'">
                            {{currentResource.name}}
                            <button class="button button_small"><img class="button__image" src="assets/images/pencil.svg"  (click)="ShowEditMenu();"></button>

                            <div class="edit-menu _hidden" id="edit-menu">
                                <div class="edit-menu__title" (click)="HideEditMenu();">
                                    <div>Изменить</div>
                                    <img src="assets/images/Up.png" class="edit-title__image">
                                </div>
                                <div class="edit-menu__body">
                                    <div class="edit-body__title">ФИО</div>
                                    <label class="input-label edit-body__input-label">
                                        <input type="text" class="input edit-body__input" placeholder="ФИО" value="{{currentResource.name}}">
                                    </label>
                                    <hr class="hr edit-body__hr">
                                    <div class="edit-body__title">Пол</div>
                                    <label class="edit-menu__label">
                                        <label class="box-label box-label_radio">
                                            <input type="radio" name="sex" class="box-label__input box-label__input_radio">
                                        </label> 
                                        <span class="lable-name">Муж</span>
                                    </label>

                                    <label class="edit-menu__label">
                                        <label class="box-label box-label_radio">
                                            <input type="radio" name="sex" class="box-label__input box-label__input_radio">
                                        </label> 
                                        <span class="lable-name">Жен</span>
                                    </label>


                                    <hr class="hr edit-body__hr">
                                    <div class="edit-body__title">Дата рождения</div>
                                    <label class="header-date-label__element date-label  edit-body__date-label">
                                        <input type="date" class="date-input  edit-body__date" name="date" placeholder="Период">
                                    </label>
                                    <button class="button">Сохранить</button>
                                </div>
                            </div>
                        </span>
                        
                        <div class="header-subname" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'profile'">
                            {{currentResource.sexString}} | {{currentResource.ageString}}
                        </div>
                    </div>
					<app-tabs [tabsdata]="tabsdata" [callback]="SwitchTab"></app-tabs>
				</section>

                <!--Profile-->
				<section class="header__bottom header__bottom_right" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'profile'">
					
                    <app-dropdown [list]="currentResource.typeList"></app-dropdown>
                    
                    <app-dropdown [list]="currentResource.signList"></app-dropdown>

                    <app-dropdown [list]="currentResource.officeList"></app-dropdown>

                    <app-dropdown [list]="currentResource.statusList"></app-dropdown>

				</section>

                <!--Service-->
				<section class="header__bottom header__bottom_right" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'service'">
					<label class="header-search-label">
						<span class="header-search-label__title">Поиск  </span>
						<label class="header-search-label__element search-label">
							<input type="search" class="search-input" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</label>
				</section>
                
				<!--Sales-->
				<section class="header__bottom header__bottom_right" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'sales'">
					<label class="header-search-label">
						<span class="header-search-label__title">Поиск  </span>
						<label class="header-search-label__element search-label">
							<input type="search" class="search-input" name="search" id="search_input">
							<button type="submit" class="search-button" id="search_submit"><img class="button__image" src="assets/images/Search.svg"></button>
						</label>
					</label>
				</section>

				<!--Log-->
				<section class="header__bottom header__bottom_right" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'log'">
					
				</section>
			</section>

            <!--profile-->
			<section class="right-section right-section__profile" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'profile'">
				<div class="banner">					
					<div class="banner-item">
						<div class="banner-item__header">Доступность ресурса в текущем месяце </div>
						<div class="banner-item__body">{{currentResource.available}} часов</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Потрачено времени на оказание услуг в прошлом месяце </div>
						<div class="banner-item__body">{{currentResource.spent}} часов</div>
					</div>
					<div class="banner-item">
						<div class="banner-item__header">Средневзвешенная стоимость Человекочаса </div>
						<div class="banner-item__body">
							{{currentResource.avg}} ₽
						</div>
					</div>
				</div>

                <div class="profile-body">

                    <app-list [listdata]="misc_list" [callback]=""  [obj]="this"></app-list>
    
                    <section class="left-section left-section__pages">
                        <button class="button" (click)="addMisc()"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
                    </section>
    
                    <app-list [listdata]="contacts_list" [callback]="" [dots_callback]="alert" [button_callback]="Communicate" [obj]="this"></app-list>
    
                    <section class="left-section left-section__pages">
                        <button class="button" (click)="addContact()"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
                    </section>
                </div>
				
			</section>

			<!--Load-->
			<section class="right-section right-section__schedule" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'load'">
				<div class="time-table">
					<div class="table-row {{GetRowClass(t.hour)}}" *ngFor="let t of time; let i = index;">
						<div class="table-col table-col_time">
							<div class="time-content">
								<div>{{t.hour}}:00</div>
								<div *ngIf="IsCurrentHour(t.hour)">сейчас</div>
							</div>
						</div>
					</div>
				</div>
				<div class="schedule-table" id="schedule-table" (scroll)="CheckScroll();">
					<button class="arrow-button arrow-button_left" id="left-scroll" (click)="ScrollTable(-1);" disabled></button>
					<button class="arrow-button arrow-button_right" id="right-scroll" (click)="ScrollTable(1);"></button>

					<div class="table-row table-row_head">
						
						<div class="table-col" *ngFor="let s of schedule; let i = index;" >
							<span class="head-name">{{s.name}}</span>
							<span class="head-percent _brown">12%</span>
						</div>
					</div>
		
					<div class="table-row {{GetRowClass(t.hour)}}" *ngFor="let t of time; let i = index;">
						<div class="table-col" *ngFor="let s of schedule; let i = index;">
							<div *ngIf="s.HasTasks(t.hour)" class="table-col__container">
								<div class="table-task {{j.Classes()}}"
									*ngFor="let j of s.GetTasks(t.hour).tasks; let i = index;">
									<div class="task-name">{{j.name}}</div>
									<div class="task-time">
										{{t.hour}}:<span *ngIf="j.start < 10">0</span>{{j.start}} -
										<span *ngIf="j.start + j.duration == 60">{{t.hour + 1}}:00</span>
										<span *ngIf="j.start + j.duration < 60">{{t.hour}}:{{j.start + j.duration}}</span>
									</div>
								</div>
								<div class="table-task" *ngIf="!s.GetTasks(t.hour).Check()">
									<span *ngIf="currentHour <= t.hour" class="task-add">+</span>
									<span *ngIf="currentHour > t.hour">-</span>
								</div>
							</div>
							<div *ngIf="!s.HasTasks(t.hour)" class="table-col__container">
								<div class="table-task">
									<span *ngIf="currentHour <= t.hour" class="task-add">+</span>
									<span *ngIf="currentHour > t.hour">-</span>
								</div>
							</div>
							
						</div>
		
					</div>
				</div>
			</section>

            <!--Sales-->
			<section class="right-section right-section__graph" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'sales'">
                <app-list [listdata]="sales_list" [obj]="this"></app-list>
				<section style="margin-bottom: 20px;">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				</section>
			</section>

			<!--Services-->
			<section class="right-section right-section__graph" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'service'">
                <app-list [listdata]="services_list"></app-list> 			
				<section style="margin-bottom: 20px;">
					<button class="button"><img src="assets/images/Plus.svg" class="button__image"> Добавить</button>
				</section>
			</section>

			<!--Log-->
			<section class="right-section right-section__graph" *ngIf="tabsdata.tabs[tabsdata.currentTab].id == 'log'">
				Log
			</section>
		</div>
	</section>
</div>