<div class='time-container' [style.width.px]="width" *ngIf="timedata != null">
    <div class="time-table">
        <div class="table-row {{GetRowClass(t.hour)}}" *ngFor="let t of timedata.time; let i = index;">
            <div class="table-col table-col_time">
                <div class="time-content">
                    <div>{{t.hour}}:00</div>
                    <div *ngIf="IsCurrentHour(t.hour)">сейчас</div>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule-table" id="schedule-table" (scroll)="CheckScroll();">
        <button class="arrow-button arrow-button_left" id="left-scroll" (click)="ScrollTable(-1);" disabled></button>
        <button class="arrow-button arrow-button_right" id="right-scroll" (click)="ScrollTable(1);"></button>

        <div class="table-row table-row_head">
            
            <div class="table-col" *ngFor="let s of timedata.schedule; let i = index;" >
                <span class="head-name" [innerHtml]="s.name"></span>
                <span class="head-percent {{timedata.dates[i].color}}" *ngIf="timedata.type == 'resource'">{{timedata.dates[i].util}}%</span>
            </div>
        </div>

        <div class="table-row {{GetRowClass(t.hour)}}" *ngFor="let t of timedata.time; let i = index;">
            <div class="table-col" *ngFor="let s of timedata.schedule; let ij = index;">
                <div *ngIf="s.HasTasks(t.hour)" class="table-col__container">
                    <div class="table-task {{j.Classes()}}"
                        *ngFor="let j of s.GetTasks(t.hour).tasks; let ik = index;" title="{{j.name}}" (click)="TaskClick(j)">
                        <div class="task-name">{{j.shortname}}</div>
                        <div class="task-time">
                            {{t.hour}}:<span *ngIf="j.start < 10">0</span>{{j.start}} -
                            <span *ngIf="j.start + j.duration == 60">{{t.hour + 1}}:00</span>
                            <span *ngIf="j.start + j.duration < 60">{{t.hour}}:{{j.start + j.duration}}</span>
                        </div>
                    </div>
                    <div class="table-task" *ngIf="!s.GetTasks(t.hour).Check()">
                        <span *ngIf="timedata.currentHour <= t.hour" class="task-add" (click)="AddTask(t.hour)">+</span>
                        <span *ngIf="timedata.currentHour > t.hour">-</span>
                    </div>
                </div>
                <div *ngIf="!s.HasTasks(t.hour)" class="table-col__container">
                    <div class="table-task">
                        <span *ngIf="timedata.currentHour <= t.hour" class="task-add" (click)="AddTask(t.hour)">+</span>
                        <span *ngIf="timedata.currentHour > t.hour">-</span>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>